<section id="author-info-section" class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-5">
          <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h3 class="mb-2"><%= author&.full_name %></h3>
              <div class="d-block">
                <%= link_to 'Edit', edit_author_path(author), remote: true, class: "btn btn-sm btn-outline-info text-nowrap mb-0" if ensure_my_profile?(author)%>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-auto">
                <span>Email:</span>
                <span class="h6"> <%= author&.email %> </span>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-auto">
                <span class="h6"> <%= author&.posts&.count %> </span>
                <span>Posts</span>
              </div>
              <div class="col-auto">
                <span class="h6"><%= author&.comments&.count %></span>
                <span>Comments</span>
              </div>
            </div>
            <p class="text-lg mb-0">
              <%= author&.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>