<div class="col-lg-8 mx-auto">
  <p id="notice"><%= notice %></p>
  <div class="card card-body">
    <ul id="post-list" class="list-group list-group-flush">
      <%= render partial: 'post_item', collection: @posts, as: :post%>
    </ul>
    <br>
    
    <p><%= link_to 'New Post', new_author_post_path(current_user.id), remote: true  if current_user%><p>
  </div>
  <%= paginate @posts%>
  <%= render 'post_modal' %>
<div>

