<div class="col-lg-8 mx-auto">
  <p id="notice"><%= notice %></p>
  <h2 class="text-center"> <%= @post.title %> </h2>
  <br>
  <p> <%= @post.body %> </p>
  <p>
    <strong>Created by:</strong>
    <%= link_to @post.author.full_name, author_path(@post.author) %>
    <span style="float: right;">Created on: <%= @post.created_at&.strftime("%m/%d/%Y") %> <span>
  </p>
  
  <hr>
  <%= render partial: 'comments/comment_section', locals: { post: @post, comments: @comments }%>
</div>